.about {
    color: silver;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-content: center;
    font-size: 40px;
}

.left {
    grid-row: 1/2;
    margin-top: 150px;
    grid-column: 1/2;
}

.right{
    grid-row: 1/2;
    margin-top: 150px;
    grid-column: 2/3;
}