@import 'about';


.app {
    background-color: rgb(102, 0, 0);
    transition: 0.5s;
    height: 938px;  
}

.header {
    font-family: "Ubuntu Condensed", sans-serif;
    margin-top: 0rem;
    display: grid;
    grid-template-columns: .5fr 6fr 2fr;
    grid-template-rows: -1fr 1fr 0fr;
    justify-items: left;
    align-items: center;
    background-color: rgb(102, 0, 0);
    transition: 0.5s;
    -webkit-box-shadow: 0 8px 6px -6px #212529;
    -moz-box-shadow: 0 8px 6px -6px #212529;
    box-shadow: 0 8px 6px -6px #212529;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    transition: all 1s ease-out;  
}

.icon {
    font-size: 80px;
    color:  rgb(189, 134, 33);
    margin-left: 10px;
}

.myname {
    align-self: center;
    font-size: 90px;
    color:#212529;
    font-style: oblique;
    display: flex;
 }

.button {
    display: flex;
    grid-column: 3/4;
    grid-row: 1/2;
    font-style: normal;
    justify-self: end;
} 

.nav-wrapper {
    font-size: 2.5rem;
    margin-top: 2rem;

    
}
.button a {
    font-family: "Ubuntu Condensed", sans-serif;
    transition: 0.5s;
    text-decoration: none;
    font-size: 120%;
    color: silver;
    padding: 5px 40px;
    font-style: oblique;
    margin-right: 10px;

    &:hover {
    color: rgb(189, 134, 33);
    }
}

.home {
    background-color: rgb(102, 0, 0);
    color: silver;
    font-size: 160%;
    display: flex;
    justify-content: center; 
    margin-top: 15%;
}

.content {
    height: 420;
}

.button a:hover,
    .button a:active {
    letter-spacing: 3px;
        -webkit-box-shadow: 0 8px 6px -6px #212529;
        -moz-box-shadow: 0 8px 6px -6px #212529;
        box-shadow: 0 8px 6px -6px #212529;
        transition: 1s;
    }

h1 {
    align-self: center;
 }

.link{
    &:hover {
        -webkit-box-shadow: 0 8px 6px -6px #212529;
        -moz-box-shadow: 0 8px 6px -6px #212529;
        box-shadow: 0 8px 6px -6px #212529;
        -webkit-transition: all 1s ease-out;
        -moz-transition: all 1s ease-out;
        -o-transition: all 1s ease-out;
        -ms-transition: all 1s ease-out;
        transition: all 1s ease-out;    
    }
}